<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
	h1 {
		padding-left:40px;}

	a{
		padding-left:40px;
    </style>
</head>
<body>
    <h1>Tasks</h1>
    <ul>
        {% for task in tasks %}
        {% if task.1 > 8 %}
         <li class="list-group-item list-group-item-danger">
          {{task.0}}

          <strong style="float:right; margin-right:50px "> {{"Urgent!"}}</strong>

         </li>

        {% else %}
        <li class="list-group-item list-group-item-info">
           {{ task.0 }}

        </li>
        {% endif %}
	{% empty %}
            <li>No tasks.</li>
        {% endfor %}
    </ul>

       <a href="{% url 'tasks1:add' %}">Add a new task</a>

</body>
</html>
